@using EntityLayer.Concrete
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    List<Order> orders = ViewBag.orders;
    double totalPrice = ViewBag.totalPrice;
}


    <div class="row p-3">
        <div class="col-5 pe-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="form-check-inline cb_totalPrice" data-total="@totalPrice" id="checkAll" />
                        </th>
                        <th class="text-center">Ürün</th>
                        <th class="text-end">Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        if (order.Status == 1)
                        {

                        }
                        for (int i = 0; i < order.Amount; i++)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="form-check cb_orders" data-price="@order.Product.Price"/>
                                </td>
                                <td class="text-center">@order.Product.Name</td>
                                <td class="text-end">@order.Product.Price</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-7 ps-2">
            <div class="form-group">
                <label for="totalPrice">Seçilen Ürünlerin Toplam Tutarı:</label>
                <div class="input-group">
                    <input type="text" readonly class="form-control" id="totalPrice" placeholder="0" value="0">
                    <label class="input-group-text">TL</label>
                </div>
            </div>
            <br />
            <div class="custom-control custom-control-input">
                <label class="custom-control-label" for="inp_discount">İndirim Miktarı:</label>
                <div class="input-group">
                    <input type="number" disabled class="form-control" id="inp_discount" placeholder="0" min="0" max="@totalPrice">
                    <label class="input-group-text">TL</label>
                </div>
                <input type="checkbox" class="custom-control-input" id="cb_discount">
                <label class="custom-control-label" for="cb_discount">İndirim Uygula</label>
            </div>
            <br />
            <div class="form-check form-check-inline">
                <input type="radio" checked id="rb_Nakit" name="rb_Payment" class="form-check-input">
                <label class="form-check-label" for="rb_Nakit">Nakit</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="rb_KrediKarti" name="rb_Payment" class="form-check-input">
                <label class="form-check-label" for="rb_KrediKarti">Kredi Kartı</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="rb_Serve" name="rb_Payment" class="form-check-input">
                <label class="form-check-label" for="rb_Serve">İkram Et</label>
            </div>
            <span class="badge bg-success" id="bg_odenecekTutar"></span>
            <button class="btn btn-primary float-end">Öde</button>
        </div>
    </div>

<script type="text/javascript">

    $("#cb_discount").change(function () {
        $('#inp_discount').prop("disabled", !this.checked).prop("value", "0");
    });

    $("#checkAll").click(function () {
        $('.cb_orders').prop('checked', this.checked);

        if (this.checked)
            $('#totalPrice').val($("#checkAll").attr("data-total"));
        else
            $('#totalPrice').val("0");
    });

    $('.cb_orders').change(function () {
        var price = this.attributes["data-price"].value;
        console.log(this);
        console.log(price);
        if (this.checked)
            $('#totalPrice').val(parseInt($('#totalPrice').val()) + parseInt(price));
        else
            $('#totalPrice').val(parseInt($('#totalPrice').val()) - parseInt(price));
    });

    $("tr").click(function () {
        var checkbox = $(this).find("input[type='checkbox']");
        checkbox.attr('checked', !checkbox.attr('checked'));
        $(checkbox).trigger("change");
    });

</script>