@using EntityLayer.Concrete
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    List<Order> orders = ViewBag.orders;
    double totalPrice = ViewBag.totalPrice;
}

<div class="container container-fluid">
    <div class="row p-3">
        <div class="col-7 pe-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="form-check-inline cb_totalPrice" data-total="@totalPrice" id="checkAll" />
                        </th>
                        <th class="text-center">Ürün</th>
                        <th class="text-end">Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        if (order.Status == 2)
                        {
                            for (int i = 0; i < order.Amount - order.AmountPaid; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check cb_orders" data-id="@order.OrderID" data-price="@order.Product.Price.ToString()" />
                                    </td>
                                    <td class="text-center">@order.Product.Name</td>
                                    <td class="text-end">@order.Product.Price TL</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 ps-2">
            <div class="form-group">
                <label for="totalPrice">Seçilen Ürünlerin Toplam Tutarı:</label>
                <div class="input-group">
                    <input type="text" readonly class="form-control" id="totalPrice" placeholder="0" value="0">
                    <label class="input-group-text">TL</label>
                </div>
            </div>
            <br />
            <div class="custom-control custom-control-input">
                <label class="custom-control-label" for="inp_discount">İndirim Miktarı:</label>
                <div class="input-group">
                    <input type="number" disabled class="form-control" id="inp_discount" placeholder="0" min="0" max="@totalPrice">
                    <label class="input-group-text">TL</label>
                </div>
                <input type="checkbox" class="custom-control-input" id="cb_discount">
                <label class="custom-control-label" for="cb_discount">İndirim Uygula</label>
            </div>
            <br />
            <div class="form-check form-check-inline">
                <input type="radio" checked id="rb_Nakit" name="rb_Payment" data-method="0" class="form-check-input">
                <label class="form-check-label" for="rb_Nakit">Nakit</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="rb_KrediKarti" name="rb_Payment" data-method="1" class="form-check-input">
                <label class="form-check-label" for="rb_KrediKarti">Kredi Kartı</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="rb_Serve" name="rb_Payment" data-method="2" class="form-check-input">
                <label class="form-check-label" for="rb_Serve">İkram Et</label>
            </div>
            <span class="badge bg-success" id="bg_odenecekTutar"></span>
            <button class="btn btn-primary float-end" id="pay">Öde</button>
        </div>
    </div>
</div>

<script type="text/javascript">



    $(document).ready(function () {

        $("#cb_discount").change(function () {
            $('#inp_discount').prop("disabled", !this.checked).prop("value", "0");
        });

        $("#checkAll").click(function () {
            $('.cb_orders').prop('checked', this.checked);

            if (this.checked) {
                var total = 0.0;
                $('.cb_orders').each(function () {
                    var price = $(this).data('price') + "";
                    total += parseFloat(price.replace(',', '.'));
                    console.log(total);
                })
                $('#totalPrice').val(total);
            }
            else
                $('#totalPrice').val("0");
        });

        $('.cb_orders').click(function () {

            var price = $(this).data('price') + "";
            price = price.replace(',', '.');
            if (this.checked)
                $('#totalPrice').val(parseFloat($('#totalPrice').val()) + parseFloat(price));
            else
                $('#totalPrice').val(parseFloat($('#totalPrice').val()) - parseFloat(price));
        });

        $('tbody tr').click(function (event) {
            if (event.target.type !== 'checkbox') {
                $(':checkbox', this).trigger('click');
            }
        });

        $("#pay").click(function () {
            var arr = new Array();
            $(".cb_orders:checked").each(function () {
                arr.push($(this).attr("data-id"));
            });

            var url = '@Url.Action("Pay", "Payment")';
            var discount = !$('#inp_discount').attr('disabled') ? parseFloat(($('#inp_discount').val() + '').replace(',', '.')) : 0;

            var method = 0;
            method = parseInt($('[name=rb_Payment]:checked').data('method'));

            var data = {orders:arr ,discount:discount, paymentMethod:method};

            ajax(url, data, function (fdata) {
                console.log('success');
                if (!fdata.confirm)
                    window.location.reload();
                else
                    window.location.href = fdata.destination;
            }, function () {
                    console.log('error');
            });
        });


    });
    function ajax(url, data, success, error) {
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: success,
            error: error,
        });
    }

</script>