@using EntityLayer.Concrete
@{
    ViewBag.Title = "Orders";
    //Table t = ViewBag.table;
    //List<Category> categories = ViewBag.categories;
    //List<Product> products = ViewBag.products;

    List<Order> orders = ViewBag.orders;
    List<Table> tables = ViewBag.tables;

    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<br />
<br />

@*<form method="post" action="@Url.Action("Orders","Order")">*@
    <div class="justify-content-center">
        <div class="col-lg-6 col-md-8 container container-fluid">
            <br />
            @foreach (var table in tables)
            {
                if (table.Status == 1)
                {
                    <div class="row" style="min-width:440px">
                        
                        <button class="btn btn-light m-2" type="button" data-bs-toggle="collapse" data-bs-target="#orders-@table.TableID">
                            <i class="fa fa-angle-down"></i>
                            Masa - @table.TableID
                        </button>
                        
                        <div class="clearfix"></div>
                        <div class="collapse cllps mt-2 mb-2" id="orders-@table.TableID">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sipariş Saati</th>
                                        <th>Ürün</th>
                                        <th>Adet</th>
                                        <th>Durumu</th>
                                        <th>Düzenle</th>
                                        <th>Hazır</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in orders)
                                    {
                                        if (order.ReceiptID == table.ReceiptID && order.Status == 1)
                                        {
                                            <tr>
                                                <td>@order.OrderDate.TimeOfDay</td>
                                                <td>@order.Product.Name</td>
                                                <td>@order.Amount</td>
                                                <td>
                                                    <span class="badge bg-info">Hazırlanıyor</span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-warning" data-orderID="@order.OrderID" data-bs-target="#editOrder" data-bs-toggle="modal">
                                                        <i class="fas fa-edit me-1"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-success" data-orderID="@order.OrderID">
                                                        <i class="fas fa-check me-1"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                <br />
            }
        </div>
        <div class="clearfix"></div>
    </div>
@*</form>*@

<!--#region Modal Edit Order-->
<div class="modal fade" id="editOrder" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Düzenle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Ürün Adı</span>
                    <input type="text" readonly class="form-control" placeholder="Ürün Adı">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Sipariş Adedi</span>
                    <input type="number" class="form-control" min="0">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
                <button class="btn btn-sm btn-outline-success" data-bs-dismiss="modal">Onayla</button>
            </div>

        </div>
    </div>
</div>
<!--#endregion-->
