@using EntityLayer.Concrete
@{
    ViewBag.Title = "Orders";
    //Table t = ViewBag.table;
    //List<Category> categories = ViewBag.categories;
    //List<Product> products = ViewBag.products;

    List<Order> orders = ViewBag.orders;
    List<Table> tables = ViewBag.tables;

    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@*<form method="post" action="@Url.Action("Orders","Order")">*@
<div class="align-content-center">
    <div class="container container-fluid" style="min-width:460px">
        <br />
        @foreach (var table in tables)
        {
            <h3>MASA - @table.TableID</h3>
            <table class="table table-bordered table-sm">
                <tr>
                    <th class="col-2">Sipariş Saati</th>
                    <th class="col-2">Ürün</th>
                    <th class="col-2">Adet</th>
                    <th class="col-2">Durumu</th>
                    <th class="col-2">Düzenle</th>
                    <th class="col-2">Hazır</th>
                </tr>
                @foreach (var order in orders)
                {
                    if (order.ReceiptID == table.ReceiptID && (order.Status == 1 || order.Status == 0))
                    {
                        <tr>
                            <td>@order.OrderDate.TimeOfDay</td>
                            <td>@order.Product.Name</td>
                            <td>@order.Amount</td>

                            <td>
                                <span class="badge @(order.Status == 1 ? "bg-info" : "bg-success")">@(order.Status == 1 ? "Hazırlanıyor" : "Hazır")</span>
                            </td>
                            <td>
                                <button id="btnEditOrder" class="btn btn-sm btn-warning" data-orderID="@order.OrderID" data-bs-target="#editOrder" data-bs-toggle="modal" data-name="@order.Product.Name" data-amount="@order.Amount" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-edit me-1"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success" data-orderID="@order.OrderID" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-check me-1"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
        }
    </div>
</div>
@*</form>*@

<!--#region Modal Edit Order-->
<div class="modal fade" id="editOrder" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Düzenle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Ürün Adı</span>
                    <input id="modalInputName" type="text" readonly class="form-control" placeholder="Ürün Adı">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Sipariş Adedi</span>
                    <input id="modalInputAmount" type="number" class="form-control" min="0">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
                <button class="btn btn-sm btn-outline-success" data-bs-dismiss="modal">Onayla</button>
            </div>

        </div>
    </div>
</div>
<!--#endregion-->

<script type="text/javascript">
    $('#editOrder').on('show.bs.modal', function (event) {
        var button = event.relatedTarget;

        var name = $(button).data('name');

        var amount = $(button).data('amount');

        $('#modalInputAmount').val(amount);
        $('#modalInputName').val(name);
    });
</script>