@using EntityLayer.Concrete
@{
    ViewBag.Title = "Orders";

    List<Order> orders = ViewBag.orders;
    List<TakeAway> takeAways = ViewBag.takeAways;
    List<Table> tables = ViewBag.tables;

    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<div class="align-content-center">
    <div class="container container-fluid" style="min-width:460px">
        <br />
        @foreach (var takeAway in takeAways)
        {
            <h3>Paket Sipariş - @takeAway.TakeAwayID</h3>
            <table class="table table-bordered table-sm">
                <tr>
                    <th class="col-2">Sipariş Saati</th>
                    <th class="col-2">Ürün</th>
                    <th class="col-2">Adet</th>
                    <th class="col-2">Durumu</th>
                    <th class="col-1">Hazır & Teslim</th>
                    <th class="col-1">İptal Et</th>
                </tr>
                @foreach (var order in orders)
                {
                    if (order.ReceiptID == takeAway.ReceiptID)
                    {
                        <tr>
                            <td>@string.Format("{0:t}", order.OrderDate)</td>
                            <td>@order.Product.Name</td>
                            <td>@order.Amount</td>

                            <td>
                                <span class="badge @(order.Status == 1 ? "bg-info" : "bg-success")">@(order.Status == 1 ? "Hazırlanıyor" : "Hazır")</span>
                            </td>

                            <td>
                                <button class="btn btn-sm btn-success btnStatusChangeTA" data-status="3" data-id="@order.OrderID">
                                    <i class="fas fa-check me-1"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger btnStatusChangeTA" data-status="4" data-id="@order.OrderID" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-times me-1"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
        }

        @foreach (var table in tables)
        {
            <h3>@table.Name</h3>
            <table class="table table-bordered table-sm">
                <tr>
                    <th class="col-2">Sipariş Saati</th>
                    <th class="col-2">Ürün</th>
                    <th class="col-2">Adet</th>
                    <th class="col-2">Durumu</th>
                    <th class="col-1">Düzenle</th>
                    <th class="col-1">Hazır</th>
                    <th class="col-1">İptal Et</th>
                </tr>
                @foreach (var order in orders)
                {
                    if (order.ReceiptID == table.ReceiptID)
                    {
                        <tr>
                            <td>@string.Format("{0:t}", order.OrderDate)</td>
                            <td>@order.Product.Name</td>
                            <td>@order.Amount</td>

                            <td>
                                <span class="badge @(order.Status == 1 ? "bg-info" : "bg-success")">@(order.Status == 1 ? "Hazırlanıyor" : "Hazır")</span>
                            </td>
                            <td>
                                <button id="btnEditOrder" class="btn btn-sm btn-warning" data-id="@order.OrderID" data-bs-target="#editOrder" data-bs-toggle="modal" data-name="@order.Product.Name" data-amount="@order.Amount" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-edit me-1"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success btnStatusChange" data-status="2" data-id="@order.OrderID" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-check me-1"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger btnStatusChange" data-status="4" data-id="@order.OrderID" @(order.Status == 1 ? "" : "disabled")>
                                    <i class="fas fa-times me-1"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
        }
    </div>
</div>

<!--#region Modal Edit Order-->
<div class="modal fade" id="editOrder" tabindex="-1">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Düzenle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Ürün Adı</span>
                    <input id="modalInputName" type="text" readonly class="form-control" placeholder="Ürün Adı">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text col-4">Sipariş Adedi</span>
                    <input id="modalInputAmount" type="number" class="form-control" min="0">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
                <button class="btn btn-sm btn-outline-success" data-id="" id="confirmEdit">Onayla</button>
            </div>

        </div>
    </div>
</div>
<!--#endregion-->

<script type="text/javascript">
    $('#editOrder').on('show.bs.modal', function (event) {
        var button = event.relatedTarget;

        var name = $(button).data('name');
        var amount = $(button).data('amount');
        var id = $(button).data('id');

        $('#modalInputAmount').val(amount);
        $('#modalInputName').val(name);
        $('#confirmEdit').data('id', id);
    });

    $('#confirmEdit').click(function () {
        var url = "@Url.Action("EditOrder", "Order")"
        var data = "id:" + $(this).data('id') + ",amount:" + $('#modalInputAmount').val();
        ajax(url, data, true);
    });

    $('.btnStatusChange').click(function () {
        var url = "@Url.Action("OrderStatusChange", "Order")"
        var data = "id:" + $(this).data('id') + ",status:" + $(this).data('status');
        ajax(url, data, true);
    });

    $('.btnStatusChangeTA').click(function () {
        var url = "@Url.Action("TAStatusChange", "Order")"
        var data = "id:" + $(this).data('id') + ",status:" + $(this).data('status');
        ajax(url, data, true);
    });

    function ajax(url, data, reload) {
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: "{" + data + "}",
            contentType: 'application/json; charset=utf-8',
            success: function (fdata) {
                if (fdata.confirm && reload) {
                    location.reload();
                }
                else if (!fdata.confirm)
                    alert(fdata.errMessage);
            },
            error: function (fdata) {
                console.log(fdata.status);
            }
        });
    };

</script>