@using EntityLayer.Concrete
@{
    ViewBag.Title = "TableOrders";
    //Table t = ViewBag.table;
    List<Category> categories = ViewBag.categories;
    List<Product> products = ViewBag.products;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<br />
<br />

<!--#region info menü-->
<footer class="card-footer">
    <div class="container container-fluid col-lg-6 col-md-8">
        <div class="row">
            <!--bilgilendirme menüsü-->
            <div class="text-lg-start col-4">Garson ismi</div>
            <div class="text-lg-center col-4">Masa Numarası</div>
            <div class="text-lg-end col-4">Tarih - saat</div>
        </div>
    </div>
</footer>
<!--#endregion-->

@*<form method="post" action="@Url.Action("TableOrder","Order")">*@
    <div class="justify-content-center">
        <!--#region menü-->
        <div class="col-lg-6 col-md-8 container container-fluid">
            @if (categories != null && products != null)
            {
                foreach (var category in categories)
                {
                    <br />
                    <h4 class="text-center">@category.CategoryName</h4>
                    <table class="table small">
                        <tr>
                            <th class="text-start">Sipariş Sil</th>
                            <th class="text-center">Ürün Adı</th>
                            <th class="text-center">Adet Fiyatı</th>
                            <th class="text-center">Sipariş Adedi</th>
                            <th class="text-end">Sipariş Ver</th>
                        </tr>
                        @foreach (var product in products)
                        {
                            if (product.CategoryID == category.CategoryID)
                            {
                                <tr>
                                    <td class="col-1">
                                        <button type="button" class="btn btn-danger float-start btnSiparis" id="btn_siparisAzalt_@product.ProductID" name="siparisAzalt" value="@product.ProductID">
                                            -
                                        </button>
                                    </td>
                                    <td class="text-center col-4">@product.Name</td>
                                    <td class="text-center col-3">@product.Price TL</td>
                                    <td class="text-center col-3">
                                        <input type="number" class="form-control col-1 text-center" value="0" min=0 data-id="@product.ProductID" id="orderAmount_@product.ProductID" />
                                    </td>
                                    <td class="col-1">
                                        <button type="button" class="btn btn-success float-end btnSiparis" id="btn_siparisArttir_@product.ProductID" name="siparisArttir" value="@product.ProductID">
                                            +
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                }
            }
        </div>
        <!--#endregion-->
        <div class="clearfix"></div>
        <br />
        <br />
        <!--#region bottom navbar-->
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark fixed-bottom bg-dark">
            <div class="container container-fluid">

                <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#secenekler">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="col-lg-6 col-md-8 collapse navbar-collapse justify-content-around" id="secenekler">
                    <!--sepeti görüntüle => popup, siparişi onayla, siparişi iptal et-->
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <button type="reset" class="btn btn-outline-danger m-2" name="_button">
                                <i class="fas fa-times"></i>
                                İptal
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-primary m-2" name="_button" value="odemeAl">
                                <i class="fas fa-wallet"></i>
                                Ödeme Al
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-primary m-2" type="button" data-bs-toggle="modal" data-bs-target="#sepet" name="_button">
                                <i class="fas fa-shopping-cart"></i>
                                Sepet
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-success m-2" name="_button">
                                <i class="fas fa-check"></i>
                                Onayla
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--#endregion-->
    </div>
@*</form>*@
<!--#region Modal Sepet-->
<div class="modal fade" id="sepet" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Sepet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th class="text-start col-4">Ürün Adı</th>
                        <th class="text-center col-4">Sipariş Adedi</th>
                        <th class="text-end col-4">Birim Fiyatı</th>
                    </tr>
                    @*<tr>
                            @foreach (var product in sepettekiler)
                            {
                                <td class="text-start col-4">@product.Name</td>
                                <td class="text-center col-4">@product.Amount</td>
                                <td class="text-end col-4">@product.Price TL</td>
                            }
                        </tr>*@
                </table>
            </div>

            <div class="modal-footer">
                <h5 class="me-auto">
                    Toplam Fiyat :
                    <span class="badge bg-success">150 TL</span>
                </h5>
                <button class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>
<!--#endregion-->

<script type="text/javascript">

    $('.btnSiparis').on('click', function () {
        var valu = (parseInt($('#orderAmount').val()) + 1);
        $('#orderAmount').val(valu);
        console.log(valu);
    });

    $('#btn_siparisAzalt').click(function () {
        var value = parseInt($('#orderAmount').val()) + 1;
        $('#orderAmount').val(value);
    });

</script>