@using EntityLayer.Concrete
@{
    ViewBag.Title = "TableOrders";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    Table t = ViewBag.table;
    List<Category> categories = ViewBag.categories;
    List<Product> products = ViewBag.products;
    List<Order> orders = ViewBag.orders;
    User user = Session["user"] as User;
    if (user == null)
    {
        user = new User()
        {
            Name = "deneme",
        };
    }
    Console.WriteLine(orders);
}

<!--#region info menü-->
<footer class="card-footer">
    <div class="container container-fluid col-lg-6 col-md-8">
        <div class="row">
            <!--bilgilendirme menüsü-->
            <div class="text-start col-4">@user.Name</div>
            <div class="text-center col-4">@t.Name</div>
            <div class="text-end col-4">@DateTime.Now</div>
        </div>
    </div>
</footer>
<!--#endregion-->

<div class="justify-content-center">
    <!--#region menü-->
    <div class="clearfix"></div>

    <div class="col-lg-6 col-md-8 container container-fluid">
        @if (categories != null && products != null)
        {
            foreach (var category in categories)
            {
                <br />
                <h4 class="text-center">@category.CategoryName</h4>
                <table class="table small">
                    <tr>
                        <th class="text-start">Sipariş Azalt</th>
                        <th class="text-center">Ürün Adı</th>
                        <th class="text-center">Adet Fiyatı</th>
                        <th class="text-center">Sipariş Adedi</th>
                        <th class="text-end">Sipariş Ekle</th>
                    </tr>
                    @foreach (var product in products)
                    {
                        if (product.CategoryID == category.CategoryID && product.Status)
                        {
                            <tr>
                                <td class="col-1">
                                    <button type="button" class="btn btn-danger float-start btnSiparis" data-id="@product.ProductID" data-type="minus">
                                        -
                                    </button>
                                </td>
                                <td class="text-center col-4">@product.Name</td>
                                <td class="text-center col-3">@product.Price.ToString() TL</td>
                                <td class="text-center col-3">
                                    <input type="number" class="form-control col-1 text-center inputSiparis" value=0 min=0 data-id="@product.ProductID" />
                                </td>
                                <td class="col-1">
                                    <button type="button" class="btn btn-success float-end btnSiparis" data-id="@product.ProductID" data-type="plus">
                                        +
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
        }
    </div>
    <!--#endregion-->
    <br />
    <br />
    <br />
    <div class="clearfix"></div>

    <!--#region bottom navbar-->
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark fixed-bottom bg-dark mt-auto">
        <div class="container container-fluid">
            <button class="navbar-toggler navbar-dark m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#secenekler">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-lg-6 col-md-8 collapse navbar-collapse justify-content-around" id="secenekler">

                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <button class="btn btn-outline-danger m-2 btnConfirmCancel" data-status="4">
                            <i class="fas fa-times"></i>
                            İptal
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-primary m-2" type="button" data-bs-toggle="modal" data-bs-target="#sepet" id="tableInfo">
                            <i class="fas fa-shopping-cart"></i>
                            Sepet
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-outline-success m-2 btnConfirmCancel" data-status="1">
                            <i class="fas fa-check"></i>
                            Onayla
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--#endregion-->
</div>
<!--#region Modal Sepet-->
<div class="modal fade" id="sepet" tabindex="-1">
    <div class="modal-dialog modal-lg  modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Sepet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table class="table" id="cart">
                    <thead>
                        <tr>
                            <th class="text-start col-4">Ürün Adı</th>
                            <th class="text-center col-4">Sipariş Adedi</th>
                            <th class="text-end col-4">Birim Fiyatı</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <h5 class="me-auto">
                    Toplam Fiyat :
                    <span class="badge bg-success" id="spanTotalPrice">150 TL</span>
                </h5>
                <button class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>
<!--#endregion-->

<script type="text/javascript">

    ajax('@Url.Action("GetInCart", "Order")', "receiptID:" + @((int)t.ReceiptID) , function (fdata) {
        console.log(fdata.orders);
        for (var i = 0; i < fdata.orders.length; i += 2) {
            $('.inputSiparis[data-id=' + fdata.orders[i] + ']').val(fdata.orders[i+1]);
        }
    }, function (fdata) {

    });

    $('document').ready(function () {

        var beforeVal = 0;
        var afterVal = 0;


        $('.btnConfirmCancel').click(function () {
            var status = $(this).data('status');
            var tableID = '@(t.TableID)';
            var data = "tableID:" + tableID + ",status:" + status;
            ajax('@Url.Action("ConfirmCancelOrder", "Order")', data, function (fdata) {
                if(fdata.confirm)
                    window.location.href = '@Url.Action("Tables", "Order")'
                else
                    console.log(fdata.errMessage);
            }, function () {

            });
        });

        $('.btnSiparis').on('click', function () {
            var productID = $(this).data('id');
            var type = $(this).data('type') == 'plus' ? true : false;

            var url = '@Url.Action("OrderPlusMinus", "Order")';
            var data = "productID:" + productID + ",receiptID:" + @((int)t.ReceiptID) + ",amount:0,amountInput:false,plusMinus:" + type;
            ajax(url, data, function (fdata) {
                if (!fdata.confirm)
                    console.log(fdata.errMessage);
                else if (fdata.confirm) {
                    $('.inputSiparis[data-id=' + productID + ']').val(fdata.newAmount);
                }
            }, function (data) {
                console.log("error");
            });
        });

        $('.inputSiparis').focusin(function () {
            beforeVal = $(this).val();
        });
        $('.inputSiparis').focusout(function () {
            afterVal = $(this).val();
            if (afterVal != beforeVal) {
                var productID = $(this).data('id');

            var url = '@Url.Action("OrderPlusMinus", "Order")';
                var data = "productID:" + productID + ",receiptID:" + @((int)t.ReceiptID) + ",amount:"+$(this).val()+",amountInput:true,plusMinus:" + true;
            ajax(url, data, function (fdata) {
                if (!fdata.confirm)
                    console.log(fdata.errMessage);
                else if (fdata.confirm) {
                    $('.inputSiparis[data-id=' + productID + ']').val(fdata.newAmount);
                }
            }, function (data) {
                console.log("error");
            });
            }
        });

        $('#tableInfo').click(function () {
            var url = "@Url.Action("TableInfo", "Order")";
            var data = "id:"+@((int)t.ReceiptID) + ",durum:0";
            ajax(url, data, function (data) {
                var orders = data.orders;
                var total = 0;
                console.log(orders);
                for (var i = 0; i < orders.length; i+=3) {
                    var tableData = '<tr class="sepet">' +
                        '<td class="text-start col-4">' + orders[i]+'</td>' +
                        '<td class="text-center col-4">' + orders[i+1]+'</td>' +
                        '<td class="text-end col-4">' + orders[i+2]+' TL</td>' +
                        '</tr>';
                    total += parseFloat((orders[i + 2] + "").replace(',', '.')) * orders[i + 1];
                    $('#cart > tbody:last-child').append(tableData);
                }
                $('#spanTotalPrice').html(total + " TL");

            }, function (data) {
                console.log("error");
            });
        });

        $('#sepet').on('hide.bs.modal', function () {
            $('.sepet').remove();
        });
    });


    function ajax(url, data, success, error) {
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: "{" + data + "}",
            contentType: 'application/json; charset=utf-8',
            success: success,
            error: error,
        });
    }

</script>