@using EntityLayer.Concrete

@{
    ViewBag.Title = "Settings";
    User user = ViewBag.user;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<form action="@Url.Action("Settings", "Profile")" method="post">
    <div class="container container-fluid mt-3">
        <div class="input-group mb-2">
            <span class="input-group-text col-3">İsim</span>
            <input type="text" class="form-control" placeholder="İsim" name="Name" id="Name" value="@user.Name">
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text col-3">Tel No</span>
            <input type="tel" class="form-control" placeholder="5xxxxxxxxx" maxlength="10" name="PhoneNumber" id="PhoneNumber" value="@user.PhoneNumber">
        </div>

        <div class="input-group mb-2">
            <span class="input-group-text col-3">Şifre</span>
            <input type="password" class="form-control" placeholder="Şifre" name="Password" id="Password" value="@user.Password">
            <span class="btn btn-secondary" id="passwordVisual"><i class="fas fa-eye"></i></span>
        </div>

        <button disabled class="btn btn-primary float-end" id="btnApplyChanges">
            Değişiklikleri Kaydet
        </button>
    </div>
</form>
<script type="text/javascript">
    $('document').ready(function () {
        $('input').on('input', function () {
            $('#btnApplyChanges').removeAttr('disabled');
        });

        $('#passwordVisual').click(function () {
            $('#Password').attr("type", $('#Password').attr("type") == "password" ? "text" : "password");
        });

        $('#btnApplyChanges').click(function () {
            var url = '@Url.Action("ApplyChanges", "Profile")';
            var data = "id:" +@user.UserID+",name:'" + $('#Name').val() + "',phone:'" + $('#PhoneNumber').val() + "',password:'" + $('#Password').val()+"'";
            console.log(data);
            ajax(url, data);
        });

        function ajax(url, data) {
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: "{" + data + "}",
                contentType: 'application/json; charset=utf-8',
                success: function (fdata) {
                    if (fdata.confirm)
                        alert("Değişiklikler başarıyla kaydedildi.")
                    else
                        alert(fdata.errMessage);
                        location.reload();
                },
                error: function (fdata) {
                    console.log(fdata.error);
                }
            });
        };
    });
</script>