<!DOCTYPE html>

<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <script src="~/font-awesome/js/all.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container container-fluid text-center">
            <h3 class="text-white">Restoran İsmi</h3>
            @RenderSection("button", true)
        </div>
    </nav>

    <div class="container container-fluid body-content">
        @RenderBody()
    </div>

    <br />
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Harun Ethem ÇALIŞ</p>
    </footer>
</body>
</html>

@RenderSection("script", false)
@RenderSection("style", false)