@using EntityLayer.Concrete
@{
    ViewBag.Title = "Categories";
    List<Category> categories = ViewBag.categories;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input hidden id="dataBank" data-id="" data-name="" data-status="" data-type="" />

<span class="fs-2">Kategoriler</span>
<button class="btn btn-success float-end add" type="button" data-bs-toggle="modal" data-bs-target="#modalAddCategory" data-type="add">
    <i class="fas fa-plus"></i>
    Kategori Ekle
</button>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th class="col-1">ID</th>
            <th>Kategori Adı</th>
            <th>Durumu</th>
            <th class="col-2">#</th>
        </tr>
    </thead>
    <tbody>
        @if (categories != null && categories.Count > 0)
        {
            foreach (var category in categories)
            {
                if (category.Status)
                {
                    <tr class="text-center">
                        <td>@category.CategoryID</td>
                        <td>@category.CategoryName</td>
                        <td>
                            <span class="badge bg-success">Aktif</span>
                        </td>
                        <td>
                            <button class="btn btn-warning" data-type="edit" type="button" data-bs-target="#modalAddCategory" data-bs-toggle="modal" data-id="@category.CategoryID" data-name="@category.CategoryName">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger delete" type="button" data-bs-toggle="modal" data-bs-target="#eminMisiniz" data-id="@category.CategoryID" data-status="false">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td colspan="4">
                    <br />
                </td>
            </tr>
            foreach (var category in categories)
            {
                if (!category.Status)
                {
                    <tr class="text-center">
                        <td>@category.CategoryID</td>
                        <td>@category.CategoryName</td>
                        <td>
                            <span class="badge bg-danger">Deaktif</span>
                        </td>
                        <td>
                            <button class="btn btn-success reactivate" data-id="@category.CategoryID" data-status="true">
                                <i class="fas fa-redo"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">Kategori bulunamadı...</td>
            </tr>
        }
    </tbody>
</table>

<!--#region emin misiniz-->
<div class="modal fade" id="eminMisiniz">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emin Misiniz?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p>Kategoriyi deaktif etmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger confirm-delete" data-bs-dismiss="modal">Sil</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region kategori ekle-->
<div class="modal fade" data-backdrop="static" id="modalAddCategory">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Kategori Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text col-3">Kategori Adı</span>
                    <input type="text" class="form-control" placeholder="Kategori Adı" id="modalInputCategoryName">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="modalBtnConfirm">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->

<script type="text/javascript">
    $('document').ready(function () {
        $('#modalAddCategory').on('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var type = $(button).data('type');

            if (type == "edit") {
                $('#title').text("Kategoriyi Düzenle");
                $('#modalInputCategoryName').val($(button).data('name'));

                $('#dataBank').data('id', $(button).data('id'));
                $('#dataBank').data('name', $(button).data('name'));
                $('#dataBank').data('status', $(button).data('status'));
            }
            else {
                $('#title').text("Kategori Ekle");
                $('#modalInputCategoryName').val('');

                $('#dataBank').data('id', '');
                $('#dataBank').data('name', '');
                $('#dataBank').data('status', '');
            }
            $('#dataBank').data('type', type);
        });

        $('#modalBtnConfirm').click(function () {
            var type = $('#dataBank').data('type');
            if (type == "edit") {
                var data = "id:" + $('#dataBank').data('id') + ",categoryName:'" + $('#modalInputCategoryName').val() + "'";
                ajax('@Url.Action("EditCategory", "Admin")', data, function (data) {
                    if (data.confirm)
                        location.reload();
                    else
                        alert(data.errMessage);
                }, function (data) {
                        console.log(data);
                });
            }
            else {
                var data = "categoryName:'" + $('#modalInputCategoryName').val() + "'";
                ajax('@Url.Action("AddCategory", "Admin")', data, function (data) {
                    if (data.confirm)
                        location.reload();
                    else
                        alert(data.errMessage);
                }, function (data) {
                        console.log(data);
                });
            }
        });

        $('.delete, .reactivate').click(function () {
            $('#dataBank').data('id', $(this).data('id'));
            $('#dataBank').data('status', $(this).data('status'));
        });

        $('.confirm-delete, .reactivate').click(function () {
            var data = "id:" + $('#dataBank').data('id') + ",status:'" + $('#dataBank').data('status') + "'";
                ajax('@Url.Action("CategoryStatusChange", "Admin")', data, function (data) {
                    if (data.confirm)
                        location.reload();
                    else
                        alert(data.errMessage);
                }, function (data) {
                        console.log(data);
                });
        });

        function ajax(url, data, success, error) {
            console.log(data);
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: "{" + data + "}",
                contentType: 'application/json; charset=utf-8',
                success: success,
                error: error,
            });
        };
    });
</script>