@using EntityLayer.Concrete
@{
    ViewBag.Title = "Users";
    List<User> users = ViewBag.users;
    string errorMessage = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : "hata yok";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="min-width:610px">
    <span class="fs-2">Kullanıcılar</span>
    <button class="btn btn-success float-end addUser" type="button" data-bs-toggle="modal" data-bs-target="#modalAddUser" data-type="add">Kullanıcı Ekle</button>
    <input hidden name="UserID" id="userID" value="" data-error="@errorMessage" />

    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>Rol</th>
                <th>İsim Soyisim</th>
                <th>Telefon Numarası</th>
                <th>Kayıt Tarihi</th>
                <th>Son Giriş Tarihi</th>
                <th>Son Şifre Değiştirme Tarihi</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @if (users != null && users.Count > 0)
            {
                foreach (var user in users)
                {
                    if (user.Status)
                    {
                        <tr class="text-center">
                            <td>@(user.Role == "admin" ? "Admin" : "Personel")</td>
                            <td>@user.Name</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.RegisterDate.ToShortDateString()</td>
                            <td>@user.LastLogin.ToShortDateString()</td>
                            <td>@user.LastPasswordChange.ToShortDateString()</td>
                            <td>
                                <button class="btn btn-warning edit" name="btn" value="edit" type="button" data-bs-toggle="modal" data-bs-target="#modalAddUser"
                                        data-type="edit"
                                        data-id="@user.UserID"
                                        data-name="@user.Name"
                                        data-phone="@user.PhoneNumber"
                                        data-password="@user.Password">
                                    <i class="fas fa-user-edit"></i>
                                </button>
                                <button class="btn btn-danger delete" name="btn" value="delete" type="button" data-bs-toggle="modal" data-bs-target="#eminMisiniz" data-id="@user.UserID" data-status="false">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="6">
                        <br />
                    </td>
                </tr>

                foreach (var user in users)
                {
                    if (!user.Status)
                    {
                        <tr class="text-center">
                            <td>@(user.Role == "admin" ? "Admin" : "Personel")</td>
                            <td>@user.Name</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.RegisterDate.ToShortDateString()</td>
                            <td>@user.LastLogin.ToShortDateString()</td>
                            <td>@user.LastPasswordChange.ToShortDateString()</td>
                            <td>
                                <button class="btn btn-success reactivate" name="btn" value="reactivate" data-id="@user.UserID" data-status="true">
                                    <i class="fas fa-redo"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">Kullanıcı bulunamadı...</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--#region emin misiniz-->
<div class="modal fade" id="eminMisiniz">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emin Misiniz?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p>Kullanıcıyı silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger confirm-delete" name="btn" value="delete">Sil</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region kullanıcı ekle-->
<div class="modal fade" id="modalAddUser">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Kullanıcı Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text col-3">İsim</span>
                    <input type="text" class="form-control" placeholder="İsim" name="Name" id="modalInputName">
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text col-3">Tel No</span>
                    <input type="tel" class="form-control" placeholder="5xxxxxxxxx" maxlength="10" name="PhoneNumber" id="modalInputPhone">
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text col-3">Şifre</span>
                    <input type="password" class="form-control" placeholder="Şifre" name="Password" id="modalInputPassword">
                    <span class="input-group-text" id="passwordVisual"><i class="fas fa-eye"></i></span>
                </div>

                <div class="input-group mb-2">
                    <label class="input-group-text col-3" for="userRole">Rol</label>
                    <select class="form-select" id="userRole">
                        <option value="staff">Personel</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success confirm-add-edit" data-type="" name="btn" value="add-edit">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!--#endregion-->
<script type="text/javascript">
    $('document').ready(function () {

        $('#modalAddUser').on('show.bs.modal', function (event) {
            var button = event.relatedTarget;

            var type = $(button).data('type');

            if (type == "edit") {
                $('#userID').val($(button).data("id"));
                $('#title').text("Kullanıcıyı Düzenle");
                $('#modalInputName').val($(button).data('name'));
                $('#modalInputPhone').val($(button).data('phone'));
                $('#modalInputPassword').val($(button).data('password'));
                $('#modalInputPassword').attr("type", "password");
                $('#userRole').val('admin');
            }
            else {
                $('#userID').val("");
                $('#title').text("Kullanıcı Ekle");
                $('#modalInputName').val("");
                $('#modalInputPhone').val("");
                $('#modalInputPassword').val("");
                $('#modalInputPassword').attr("type", "password");
                $('#userRole').val('staff');

            }
        });

        $('#eminMisiniz').on('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            $('#userID').val($(button).data("id"));
        });

        $('.addUser').click(function () {
            $('#userID').val("");
            $('.confirm-add-edit').data('type', 'add');
        });

        $('.edit').click(function () {
            $('#userID').val($(this).data('id'));
            $('.confirm-add-edit').data('type', 'edit');
        });

        $('.delete').click(function () {
            $('#userID').val($(this).data("id"));
            $('#userID').data('status', 'false');
        });

        $('.reactivate').click(function () {
            $('#userID').val($(this).data("id"));
            $('#userID').data('status', 'true');
        });


        $('.confirm-add-edit').click(function () {
            console.log("confirm-add-edit");

            var type = $(this).data('type');

            if (type == "edit") {
                var data = "id:" + $('#userID').val() + ",name:'" + $('#modalInputName').val() + "',phone:'" + $('#modalInputPhone').val() + "',password:'" + $('#modalInputPassword').val() + "',role:'" + $('#userRole:selected').val()+"'";
                ajax('@Url.Action("EditUser", "Admin")', data, function (data) {
                    if (data.confirm)
                        location.reload();
                    else
                        alert(data.errMessage);
                }, function (data) {
                    console.log(data.error);
                });
            }
            else {
                var data = "name:'" + $('#modalInputName').val() + "',phone:'" + $('#modalInputPhone').val() + "',password:'" + $('#modalInputPassword').val() + "'";
                ajax('@Url.Action("AddUser", "Admin")', data, function (data) {
                    if (data.confirm)
                        location.reload();
                    else
                        alert(data.errMessage);

                }, function (data) {
                    console.log(data.confirm);
                    console.log(data.error);
                });
            }
        });

        $('.confirm-delete, .reactivate').click(function () {
            var data = "id:" + $('#userID').val() + ",status:" + $('#userID').data('status');
            ajax('@Url.Action("UserStatusChange", "Admin")', data, function (data) {
                if (data.confirm)
                    location.reload();
                else
                    alert(data.errMessage);
                }, function (data) {
                    console.log(data.error);
                })
        });


        $('#passwordVisual').click(function () {
            $('#modalInputPassword').attr("type", $('#modalInputPassword').attr("type") == "password" ? "text" : "password");
        });


        function ajax(url, data, success, error) {
            console.log(data);
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data:  "{" + data + "}",
                    contentType: 'application/json; charset=utf-8',
                    success: success,
                    error: error,
                });
        };
    });

</script>